{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Loja de Pijamas{% endblock %}</title>

    <!-- CSS principal -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- Fonte moderna (Google Fonts) -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Header -->
    {% include "app_pagina/includes/header.html" %}

    <!-- Conteúdo da página -->
    <main>
        {% block content %}{% endblock %}
    </main>

    <!-- Footer -->
    {% include "app_pagina/includes/footer.html" %}

    <!-- JS principal -->
    <script src="{% static 'js/main.js' %}"></script>
    {% block scripts %}{% endblock %}
</body>
</html>
