{% extends "app_pagina/base.html" %}

{% block title %}Carrinho - Chamegos Pijamas{% endblock %}

{% block content %}
<section class="carrinho-section container">
  <h2>🛒 Suas Compras</h2>
  <div class="carrinho-grid">

    
    <div class="carrinho-itens">
      {% if carrinho %}
        {% for id, item in carrinho.items %}
        <div class="carrinho-item">
          <img src="{{ item.imagem }}" alt="{{ item.nome }}" class="carrinho-img">
          <div class="carrinho-info">
            <h3>{{ item.nome }}</h3>
            <p class="preco">R$ {{ item.preco|floatformat:2 }}</p>
            <div class="quantidade">
              <span>Quantidade:</span>
              <strong>{{ item.quantidade }}</strong>
            </div>
          </div>
          <a href="{% url 'remover_carrinho' id %}" class="remover" title="Remover">✖</a>
        </div>
        {% endfor %}
      {% else %}
        <p>Seu carrinho está vazio.</p>
      {% endif %}
    </div>

    <!-- Resumo -->
    <div class="carrinho-resumo">
      <h3>Resumo do Pedido</h3>
      <p>Subtotal: <span>R$ {{ total|floatformat:2 }}</span></p>
      <p>Frete: <span>R$ 15,00</span></p>
      <hr>
      <p class="total"><strong>Total:</strong> 
        <span>R$ {{ total|add:"15"|floatformat:2 }}</span>
      </p>

      {% if carrinho %}
        <a href="{% url 'checkout' %}" class="btn finalizar">Finalizar Compra</a>
      {% endif %}
    </div>

  </div>
</section>
{% endblock %}
