{% extends "app_pagina/base.html" %}

{% block title %}Produtos - Chamegos Pijamas{% endblock %}

{% block content %}
<section class="container produtos-listagem">
  <h2>Nossos Pijamas</h2>
  <div class="grid">
    <div class="produto-card">
      <img src="/media/pijama01.png" alt="Pijama Camomila">
      <h3>Pijama Camomila</h3>
      <p>R$ 89,90</p>
      <button class="btn btn-comprar" data-produto-id="1">Adicionar ao Carrinho</button>
    </div>
    <div class="produto-card">
      <img src="/media/pijama02.png" alt="Pijama Hortelã">
      <h3>Pijama Hortelã</h3>
      <p>R$ 94,90</p>
      <button class="btn btn-comprar" data-produto-id="2">Adicionar ao Carrinho</button>
    </div>
    <div class="produto-card">
      <img src="/media/pijama03.png" alt="Pijama Erva-doce">
      <h3>Pijama Erva-doce</h3>
      <p>R$ 92,90</p>
      <button class="btn btn-comprar" data-produto-id="3">Adicionar ao Carrinho</button>
    </div>
    <div class="produto-card">
      <img src="/media/pijama04.png" alt="Pijama Chá Preto">
      <h3>Pijama Chá Preto</h3>
      <p>R$ 99,90</p>
      <button class="btn btn-comprar" data-produto-id="4">Adicionar ao Carrinho</button>
    </div>
    <div class="produto-card">
      <img src="/media/pijama05.png" alt="Pijama Chá Verde">
      <h3>Pijama Chá Verde</h3>
      <p>R$ 96,90</p>
      <button class="btn btn-comprar" data-produto-id="5">Adicionar ao Carrinho</button>
    </div>
    <div class="produto-card">
      <img src="/media/pijama06.png" alt="Pijama Chá de Hibisco">
      <h3>Pijama Chá de Hibisco</h3>
      <p>R$ 97,90</p>
      <button class="btn btn-comprar" data-produto-id="6">Adicionar ao Carrinho</button>
    </div>
    <div class="produto-card">
      <img src="/media/pijama07.png" alt="Pijama Chá de Jasmim">
      <h3>Pijama Chá de Jasmim</h3>
      <p>R$ 105,90</p>
      <button class="btn btn-comprar" data-produto-id="7">Adicionar ao Carrinho</button>
    </div>
    <div class="produto-card">
      <img src="/media/pijama08.png" alt="Pijama Chá de Gengibre">
      <h3>Pijama Chá de Gengibre</h3>
      <p>R$ 101,90</p>
      <button class="btn btn-comprar" data-produto-id="8">Adicionar ao Carrinho</button>
    </div>
    <div class="produto-card">
      <img src="/media/pijama09.png" alt="Pijama Chá de Canela">
      <h3>Pijama Chá de Canela</h3>
      <p>R$ 98,90</p>
      <button class="btn btn-comprar" data-produto-id="9">Adicionar ao Carrinho</button>
    </div>
    <div class="produto-card">
      <img src="/media/pijama10.png" alt="Pijama Chá de Frutas Vermelhas">
      <h3>Pijama Chá de Frutas Vermelhas</h3>
      <p>R$ 109,90</p>
      <button class="btn btn-comprar" data-produto-id="10">Adicionar ao Carrinho</button>
    </div>
  </div>
</section>
{% endblock %}