{% extends "app_pagina/base.html" %}

{% block title %}Sobre Nós - Loja de Pijamas{% endblock %}

{% block content %}
<br><br><br>
<section class="container sobre-section">
  <h2>Sobre Nós</h2>
  <p>
    Nossa loja nasceu com o propósito de trazer conforto, carinho e estilo para todos os momentos de descanso.
    Trabalhamos com pijamas personalizados que combinam qualidade, beleza e aconchego.
  </p>
  <p>
    Cada peça é pensada com cuidado para oferecer não apenas um produto, mas uma experiência única de bem-estar e conforto para o seu momento de descanso ser perfeito!
  </p>
</section>
{% endblock %}
