<footer class="site-footer">
  <div class="container footer-grid">
    <!-- Coluna 1 -->
    <div class="footer-info">
      <h3>Chamegos Pijamas LTDA</h3>
      <p>CNPJ: 27.888.285/0001-45</p>
      <p>Cidade: Vacaria - RS</p>
      <p>Telefone: (54) 3235-3815</p>
      <p>Email: contato@chamegospijamas.com.br</p>
    </div>

    <!-- Coluna 2 -->
    <div class="footer-links">
      <h4>Links Úteis</h4>
      <a href="{% url 'politicas' %}">Políticas da Loja</a>
      <a href="{% url 'sobre_nos' %}">Sobre Nós</a>
    </div>
  </div>

  <!-- Copy -->
  <div class="footer-copy">
    <p>&copy; 2025 Chamegos Pijamas - Todos os direitos reservados.</p>
  </div>
</footer>
